@font-face {
  font-family: 'JosefinSans';
  src: url(/_next/static/chunks/fonts/JosefinSans-RegularItalic-15848fdf557bd5ca6545faf651f2057e.ttf)  format('truetype'), /* Safari, Android, iOS */
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JosefinSans"
}

a {
  text-decoration: none;
  color: #333;
}

.down-i___wkvZh {
  margin-top: 5px;
}
